@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .loader {
        width: 45px;
        aspect-ratio: 0.75;
        --c: no-repeat linear-gradient(theme(colors.yellow.500) 0 0);
        background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
        background-size: 20% 50%;
        animation: loading 1s infinite linear;
    }

    @keyframes loading {
        20% {
            background-position: 0% 0%, 50% 50%, 100% 50%;
        }
        40% {
            background-position: 0% 100%, 50% 0%, 100% 50%;
        }
        60% {
            background-position: 0% 50%, 50% 100%, 100% 0%;
        }
        80% {
            background-position: 0% 50%, 50% 50%, 100% 100%;
        }
    }
}
input[type='file']::file-selector-button {
    @apply bg-yellow-400 text-white cursor-pointer py-1 px-3 small:py-1.5 small:px-5 border-[1px] border-yellow-400 mr-2 hover:bg-yellow-500 transition-colors duration-300 rounded-full  text-xs small:text-sm focus:outline-none small:mt-1 xl:mt-2 xl:text-base;
}
